*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: whitesmoke;
}

.app {
  background: white;
  width: 1000px;
  margin: 5rem auto;
  padding: 2rem;
}

.list-container {
  display: flex;
  padding-top: 5rem;
}

.list {
  width: 200px;
  margin-right: 5rem;
}

.list-container button {
  align-self: flex-start;
  padding: 1rem 2rem;
  margin-top: 4.5rem;
}

.list-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.list-item {
  background: whitesmoke;
  padding: 1rem;
  /* user-select: none; */
}

.list-item:not(:last-child) {
  margin-bottom: 2rem;
}
